*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form{
    display: flex;
   margin-top: 16em;
   margin-bottom: 16em;
   align-items: center;
   justify-content: center;
   position: fixed;

}
.username{
    padding: .4em;

}
.password{
    padding: .4em;

}
.buttons{
    padding: .4em;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;


}
.user{
    padding: .5em;
    border: 1px solid black;
}
.psw{
    padding: .5em;
    border: 1px solid black;
}
.btns{
    padding: .5em;
    text-transform: capitalize;
    color: white;
    border:none;
    background-color: black;
    width: 35%;
    border-radius: 2px;  
}
.market{
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mytitle{
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .2em;
}
.loginpaper{
    padding: 1em;

}
.psswdreset{
    padding: .4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preset{
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1em;
}

