*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.table{
    padding: .4em;
}
.tr{
    padding: .5em;
}
.headt{
    padding: 1em;
}
.bodyd{
    padding: .5em;
    margin-bottom: .1em;
}
.minus{
    padding: .5em;
    font-weight: bolder;
    font-size: larger;
}
.add{
    padding: .5em;
    font-weight: bolder;
    font-size: larger;
}
.coolbtn{
    padding: .3em;
    color: magenta;
    border: 1px solid magenta;
    border-radius: 2px;
    border: none;
}
.total{
    padding: .5em;
    margin-bottom: .1em;
    color: magenta;

}