*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.items{
    color:fuchsia;
    font-weight: bold;
   
}
.button{
    padding: .2em;
    border: none;
    border-radius: 5px;
    font-family: cursive;
    color: white;
    background-color: rgb(9, 28, 47);
}
.button:hover,.button:active{
    border: 1px solid white;
}


