*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.products{
    margin-top: .9em;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4em;
}
.time{
    margin-top: 2em;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    padding: .4em;
    justify-content: center;
    background-color: rgb(164, 185, 206);
    font-size: large;
    font-weight: bolder;  

}
.pep{
    height: 25em;
}
.docs{
    padding: .1em;

}
.head{
    margin-top: .1em;
    color: mediumvioletred;
    text-transform: capitalize;
    margin-left: .3em;

}
.cost{
    color: darkblue;
    margin-top: .1em;
    margin-left: .3em;
    font-weight:bold ;
}
.img{
    height: 75%;
    width: 100%;
    image-rendering: crisp-edges;
}
.btn{
    display: flex;
    justify-content: space-between;
}
.mybtn{
    padding: .4em;
    margin: .4em;
    border: 1px;
    border-radius: 6px;
    background-color: rgb(164, 185, 206);
    color: white;
    width: 50%;
}

