*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.products{
    margin-top: .9em;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    /* align-items: center;
    justify-content: center; */
    background-color: slategray;
    background:url(./../../public/Images/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 4em;
}
.time{
    margin-top: 2em;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    padding: .4em;
    justify-content: center;
    background-color: rgb(164, 185, 206);
    font-size: large;
    font-weight: lighter;
    

}
.docs{
    padding: .4em;
  
}
.product{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    
}
.img{
    height: 8em;
    width: 8em;
    image-rendering: crisp-edges;
}

