*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.products{
    margin-top: .9em;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    /* align-items: center;
    justify-content: center; */
    background-color: slategray;
    background:url(./../../public/Images/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 4em;
}
.time{
    margin-top: 2em;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    padding: .4em;
    justify-content: center;
    background-color: rgb(164, 185, 206);
    font-size: large;
    font-weight: lighter;
    

}
.pep{
    height: 95%;
}
.docs{
    padding: .1em;
  
}
.head{
    margin-top: .5em;
    color: mediumvioletred;
    text-transform: capitalize;
    margin-left: .3em;

}
.cost{
    color: darkblue;
    margin-top: .1em;
    margin-left: .1em;
}
.img{
    height: 75%;
    width: 100%;
    image-rendering: crisp-edges;
}

